/*
BUTTONS
*/



.btn {
	padding: 18px 22px;
	font-size: 18px;
	line-height: 20px;
	white-space: normal;
	border: none;
	font-weight: 800;
}

.btn:active,
.btn:focus {
	box-shadow: none;
}

.btn-primary:hover {
	background: #3d96bf;
}

.btn-primary.blue-text {
	color: #46AAD9;
	background: #fff;
}

.btn-primary.green-text {
	color: #1cb890;
	background: #fff;
}

.btn-primary.green-text:hover {
	background: #f0f7fa;
}

.btn-default {
	border: 2px solid #bac4c8;
	padding: 12px 22px;
}

.btn-default:hover {
	background: #bac4c8;
	color: #fff;
	border: 2px solid #bac4c8;
}

.btn-default.white {
	color: #fff;
	border-color: #fff;
	font-family: "Avenir W01", Arial, Helvetica, sans-serif !important;
	font-weight: 800;
}

.btn-default.white:hover {
	background: #fff;
	color: #46aad9;
}

.btn-default.white:hover.fa:before {
	color: #46aad9;
}

.btn-default.white.fa:before {
	color: #fff;
	font-size: 18px;
	display: inline-block;
	margin: 0 10px 0 0;
}

.btn-default.sign {
	font-size: 14px;
	line-height: 16px;
	padding: 9px 12px;
	float: left;
	margin: 0 0 0 30px;
}

.btn-default.sign span {
	display: none;
}

.btn-default.blue {
	color: #46aad9;
	border-color: #46aad9;
}

.btn-default.blue:hover {
	background: #46aad9;
	color: #fff;
}

.btn-default:active:hover,
.btn-default:active:focus,
.btn-default.focus:active,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active.focus,
.open > .btn-default.dropdown-toggle:hover,
.open > .btn-default.dropdown-toggle:focus,
.open > .btn-default.dropdown-toggle.focus {
	border-color: transparent;
}