.lenkr {
	font-family: $Quik;
	letter-spacing: 1px;
	font-weight: 900;
}

.blue-text {
	color: $blue;
}

.green-text {
	color: $green;
}

.purple-text {
	color: $purple;
}

.page {
	margin-top: 125px;
	display: flex;
	justify-content: center;
}

.ol {
	border: 1px solid $purple;
}

.text-right {
	text-align: right;
}

.blue-bg h1,
.purple-bg h1,
.green-bg h1,
.blue-bg h2,
.purple-bg h2,
.green-bg h2,
.blue-bg h3,
.purple-bg h3,
.green-bg h3,
.blue-bg h4,
.purple-bg h4,
.green-bg h4,
.blue-bg h5,
.purple-bg h5,
.green-bg h5,
.blue-bg h6,
.purple-bg h6,
.green-bg h6 {
	color: white;
}


div.blue-bg {
	background: $blue;
	color: white;
}

div.purple-bg {
	background: $purple;
	color: white;
	
}

div.green-bg {
	background: $green;
	color: white;
}

.heading-three {
	font-size: 22px;
}