/***********************
	TYPE
************************/

html {
	font-size: 62.5%;
	font-weight: 300;
	font-family: $Lato;
	color: #868d93;
}

body {
	font-size: 1.8rem;
	line-height: 2.4rem;
}

h1, h2, h3, h4, h5, h6 {
	color: #24272f;
	font-weight: normal;
	margin-bottom: 20px;
}

h1 {
	font-size: 40px;
	line-height: 56px;
}

h2 {
	font-size: 32px;
	line-height: 40px;
}

h3 {
	font-size: 26px;
	line-height: 39px;
}

h4 {
	font-size: 24px;
	line-height: 26px;
}

h5 {
	font-size: 22px;
	line-height: 24px;
}

h6 {
	font-size: 20px;
	line-height: 22px;
}

a {
	color: $blue;
	&:hover {
		color: #2482af;
	}
}

.small {
	font-size: 1.4rem !important;
	line-height: 23px;
}