/******************************
	VARIABLES
******************************/

$Lato = 'Lato', sans-serif;
$Rale = 'Raleway', sans-serif;
$Robo = 'Roboto', sans-serif;
$Open = 'Open Sans', sans-serif;
$Quik = 'Quicksand', sans-serif;

$red = #fb4052;
$blue = #46aad9;
$green = #1CB890;
$purple = #9A74CE;
